<div class="bg-white">
  <div class="mx-auto py-4 px-4 max-w-7xl sm:px-6 lg:px-6 lg:py-12">
    <div class="space-y-12">
      <ul
        role="list"
        class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8"
      >
        {% for image in images %}
        <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img
                class="object-cover shadow-lg rounded-lg p-2"
                src="{{image}}"
                alt="{{image}}"
              />
            </div>
          </div>
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>
